<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
  	<p class="navbar-text navbar-left">
		See how it works on my <a href="https://github.com/dpkirschner/MutateMe">github</a>
	</p>
	<p class="navbar-text navbar-right">© Copyright DanOnRockstar</p>
  </div>
</nav>
