<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="http://www.danonrockstar.com/2016/08/my-new-career-rap-superstar.html"><span class="glyphicon glyphicon-user"></span> How Mutate Me Works</a>
      </li>
    </ul>
  </div>
</nav>