<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

	<% include ../partials/nav.ejs %>

	<div class="jumbotron text-center">
	  <div class="container">
	    <h1>Mutate Me</h1>
	    <p>This is a small application designed to genetically mutate text based on some input. Look at some of the sample texts below, or generate your own!</p>
	    <a type='button' class="btn btn-lg btn-default" href="/mutation/jayz"><image src='images/jayz.jpg' class='icon'/> JayZ</a>
	    <a type='button' class="btn btn-lg btn-default" href="/mutation/trump"><image src='images/trump.jpg' class='icon'/> Trump</a>
	  </div>
	</div>

	<% include ../partials/footer.ejs %>

</body>
</html>