<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

	<% include ../partials/nav.ejs %>

	<div class="container">
	  <div class="jumbotron">
	  	<% if(locals.error){ %>
			<h2>Error:</h2>
			<p><%= error %></p>
		<% } else{ %>
			<h2><%= prefix %><%= artist %></h2>
	    	<p><%= text %></p>
	    	</br>
	    	<a href=""><button type="button" class="btn btn-default">Generate another!</button></a>
	    	<a href="/mutation/generic"><button type="button" class="btn btn-default">Try your own!</button></a>
		<% } %>
	  </div>
	</div>

	<% include ../partials/footer.ejs %>

</body>
</html>