<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

	<% include ../partials/nav.ejs %>

	<div class="jumbotron text-center">
	  <div class="container">
	    <h2>In the style of: <%= artist %></h2>
	    <p><%= text %></p>
	  </div>
	</div>

	<% include ../partials/footer.ejs %>

</body>
</html>