<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

	<% include ../partials/nav.ejs %>

	<div class="jumbotron text-center">
	  <div class="container">
	  	<% if(locals.error){ %>
			<h2>Error:</h2>
			<p><%= error %></p>
		<% } else{ %>  
			<h2><%= artist %></h2>
	    	<p><%= text %></p>
		<% } %>
	  </div>
	</div>

	<% include ../partials/footer.ejs %>

</body>
</html>